In [1]:
import pandas as pd

In [2]:
file_path = "C:/Users/pzzzz/OneDrive/Documents/Data Analytics/Cryptocurrencies/Resources/iris.csv"
iris_df = pd.read_csv(file_path)
iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [3]:
new_iris_df = iris_df.drop(['class'], axis=1)
new_iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [4]:
output_file_path = "C:/Users/pzzzz/OneDrive/Documents/Data Analytics/Cryptocurrencies/Resources/iris.csv"
new_iris_df.to_csv(output_file_path, index=False)

OSError: [Errno 22] Invalid argument: '<path to folder>/new_iris_data.csv'